<h2>Course List</h2>

<input
  type="text"
  placeholder="Search course"
  [(ngModel)]="searchTerm">

<button (click)="searchCourse()">
  Search
</button>

<br><br>

<p *ngIf="loading$ | async">
  Loading courses...
</p>

<p *ngIf="error$ | async as error" style="color:red">
  {{ error }}
</p>

<div *ngIf="courses$ | async as courses">

  <app-course-card
    *ngFor="let c of courses; trackBy: trackByCourseId"
    [course]="c"
    appHighlight>
  </app-course-card>

  <p *ngIf="courses.length === 0">
    No courses available.
  </p>

</div>