<h2>Course List</h2>

<input
  type="text"
  placeholder="Search course"
  [(ngModel)]="searchTerm">

<button (click)="searchCourse()">
  Search
</button>

<br><br>

<p *ngIf="isLoading">
  Loading courses...
</p>

<div *ngIf="!isLoading">

  <div *ngIf="courses.length > 0; else noCourses">

    <app-course-card
      *ngFor="let c of courses; trackBy: trackByCourseId"
      [course]="c"
      appHighlight>
    </app-course-card>

  </div>

</div>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>