<h2>Course List</h2>

<input
  type="text"
  placeholder="Search course"
  [(ngModel)]="searchTerm">

<button (click)="searchCourse()">
  Search
</button>

<br><br>

<p *ngIf="isLoading">
  Loading courses...
</p>

<p *ngIf="errorMessage" style="color:red">
  {{ errorMessage }}
</p>

<div *ngIf="!isLoading && courses.length > 0">

  <div *ngFor="let c of courses; trackBy: trackByCourseId">

    <app-course-card
      [course]="c"
      appHighlight>
    </app-course-card>

    <button (click)="loadStudents(c.id)">
      Load Students
    </button>

    <br><br>

  </div>

</div>

<div *ngIf="!isLoading && courses.length === 0">

  <p>No courses available.</p>

</div>